.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #faf9f9;
  text-align: center;
}

.app-container {
  display: flex;
}

.app-container-left {
  width: 75%;
  display: flex;
  align-self: flex-start;
}

.app-container-right {
  width: 25%;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}
